header {
  text-align: center;
  color: dimgray;
}

h3 {
  color: steelblue;
  border-bottom: 2px solid steelblue;
}

a {
  text-decoration: none;
  color: blue;
}

.negrito {
  font-weight: bold;
}

.dark {
  background-color: black;
}

.dark-text {
  color: white;
}

.button {
  position: absolute;
  display: flex;
  flex-wrap: initial;
}
