body {
  background-color: #eef9bf;
  font-family: "Roboto", sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 56px;
  font-weight: bold;
  color: #75b79e;
  margin-top: 40px;
}

.container {
  width: 75%;
  margin: 47px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  justify-content: center;
}

.card {
  width: 117px;
  height: 146px;
  background-color: #a7e9af;
  border: 1px solid #99cea8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

img {
  width: 100px;
  height: 100px;
}
